<div class="container">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-0 col-md-10 col-md-offset-1">


      <div id="content">
          <img class="resize" src="/assets/IMG_1173.jpg"></img>
        <h1>Hi! I'm Stephen Cheung</h1>
        <p>Welcome to my personal blog where I post all my random interests.</p>
        <p>I am a Software Engineering major at San Jose State University. I am currently entering my 5th year at SJSU, which will most likely be my last. I want to prepare myself as much as possible for the challenges I will face post-university. I plan to work on many mini-projects for fun. Links to the projects will be posted on this blog.
        <p>This blog is built through Ruby on Rails. After learning Ruby on Rails in a class, I became interested and wanted to build something for myself. I began this blog for fun, as well as to strength my software development knowledge. This blog acts as a canvas for me as I try to implement more interesting features.</p>
        <p>As I am relatively new at web development, I am always looking for ways to improve my development knowledge. I definitely welcome any suggestions for a new feature on my blog. I want to challenge myself in making anything thats plausible.</p>
        <p>A huge thanks for <a href=https://mackenziechild.me/>Mackenzie Child</a> as he has taught me so much through his YouTube videos.
      </div>
    </div>
  </div>
</div>
