<div class="container">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-0 col-md-10 col-md-offset-1">


      <div id="content">
        <h1>Contact Information</h1>
        <ul>
          <li> <h4> Name: Stephen Cheung </h4> </li>
          <li> <h4> Email: scheung1206@gmail.com </h4> </li>
          <li> <h4> Phone: (408) 890-1702 </h4> </li>
        </ul>
        </div>
    </div>
  </div>
</div>
