<div class="container">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-0 col-md-10 col-md-offset-1">


      <div id="content">
        <h1>Projects</h1>
        <ul>
          <li> <h3> PinIt </h3>
            <h4> <a href=https://pin-it-165.herokuapp.com//>https://pin-it-165.herokuapp.com/</a></h4>
            <h5> Pinterest Like Application</small><h5>
              <small> PinIt is a Pinterest like application, where users can share their life moments. Goal of PinIt is to make a customizable canvas for users to show their unique interests.
              </small>
            </li>
          <li> <h3> Wir3d </h3>
            <h4> <a href=https://wir3d.herokuapp.com/>https://wir3d.herokuapp.com</a></h4>
            <h5> Professional Networking Platform</small><h5>
              <small> WIR3D is a social networking website with the purpose of connecting the user with other professionals to assist them with finding connections that may be used to help begin or advance their career. WIR3D is unique compared to other social media websites in a sense that it connects the user directly with the recruiter. A direct connection with the recruiter means that the recruiter will be able to connect with the person quicker so that finding potential candidates will be much faster. Users will be using the feed for updates about job positions, status updates, company news, etc. Within the feed will be the option to like, or skip the job position.
              </small>
            </li>
          </li><h3> LendAHand </h3>
          <h4> <a href=https://lend-a-hand.herokuapp.com/>https://lend-a-hand.herokuapp.com</a></h4>
          <h5> Interpersonal Servicing Platform</small><h5>
            <small> The application is used to provide users with a reliable platform to request and negotiate

any services. Users request services from their friends through posts. Friends can provide

the service themselves, or recommend other friends to help. Reviews are available for

users to rate the quality of the service provider.

This application allows users to receive help for any service without spending time

researching. Users have a trusted network of friends to request service, preventing the

chance of being scammed.
            </small>
            </ul>
        </div>
    </div>
  </div>
</div>
