
<div class="container">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-0 col-md-10 col-md-offset-1">
      <h1> Edit Post </h1>
      <%= image_tag @post.image_url %>
      <%= render 'form' %>
    </div>
  </div>
</div>
