
 /*
  * This is a manifest file that'll be compiled into application.css, which will include all the files
  * listed below.
  *
  * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
  * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
  *
  * You're free to add application-wide styles to this file and they'll appear at the bottom of the
  * compiled file so the styles you add here take precedence over styles defined in any styles
  * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
  * file per style scope.
  *
  *= require_tree .
  *= require_self
  */
  article {
    width:inherit;
  }
  aside {
    width: inherit;
    padding-left: 15px;
    padding-right: 15px;
  }
  .containershow {
    padding-left: 15px;
    padding-right: 15px;
  }

  html, body {
  margin: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
}

  .container-fluid {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    background-color: black;
  }
  @media only screen and (min-width: 1025px) {
h2 {
  font-size: 80px;
}

section {
  flex: 1;
  display: flex;
}
aside {
  width: 300px;
  float: left;
  padding-top: 35px;
  padding-right: 35px;
  padding-left: 35px;
}
article {
  width: 740px;
  flex: 1;
  float: right;
  padding-top: 35px;
  padding-left: 35px;
}
#maincontainer {
  width: 1080px;
  margin: 0 auto;
}
.containershow {
  padding-left: 0px;
}
}

.aboutme {
  background-color: black;
  color: white;
}

ul {
}

li {
list-style-type: none;
font-family: "Montserrat", sans-serif;
}

img {
  max-width:100%;
max-height:auto;
}

.panel-body {
  min-height:140px;
  padding:0px;
}

img.resize {
  width:300px;
  height:auto;
}

.container {
  width:auto;
  padding-left: 0px;
}
.comment-box {
  border-left:1px solid;
  padding-left: 25px;
}
