// Place all the styles related to the Reviews controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.reviewcontainer {
  width: auto;
}
.reviewelement {
  margin: 10px;
}
th {
  padding: 10px;
}
