<div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header page-scroll">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="../">stephencheung</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
            <li>
                <a href="../">| Home</a>
            </li>
            <li>
                <a href="/welcome/about">| About</a>
            </li>
            <li>
                <a href="/welcome/project">| Projects</a>
            </li>
            <li>
                <a href="/posts">| Posts</a>
            </li>
            <li>
                <a href="/reviews">| Reviews</a>
            </li>
            <li>
                <a href="/welcome/contact">| Contact</a>
            </li>
            <% if !user_signed_in? %>
            <li>
                <a href="/users/sign_in">| Admin Sign In</a>
            </li>
            <% else %>
            <% if current_user.admin? %>
            <li>
                <%= link_to "| New Post", new_post_path %>
            </li>
            <li>
                <%= link_to "| New Review", new_review_path %>
            </li>
            <% end %>
            <li>
                <%= link_to "| Sign out", destroy_user_session_path, :method => :delete %>
            </li>
            <% end%>

        </ul>
    </div>
    <!-- /.navbar-collapse -->
</div>
