
<div class="aboutme">About Me</div>
  <div class="about-img">
    <img src="/assets/sc.png">
  </div>

<br>
<div class="aboutme">Social</div>
<ul>
  <li><a href="https://linkedin.com/">
    <i class="fa fa-linkedin"></i>
    <span>Linkedin</span>
  </a>
</li>
<li><a href="https://facebook.com/">
  <i class="fa fa-facebook"></i>
  <span>Facebook</span>
</a>
</li>
<li><a href="https://github.com/">
  <i class="fa fa-github"></i>
  <span>Github</span>
</a>
</li>
<li><a href="https://youtube.com/">
  <i class="fa fa-youtube"></i>
  <span>Youtube</span>
</a>
</li>
</ul>
