
<div class="aboutme" align=center>About Stephen</div>
  <div class="about-img">
    <img src="/assets/stephen.jpg">
  </div>
  <p>I am an aspiring software developer, who wants to expand my knowledge in web development. This blog is built through Ruby on Rails. After learning Ruby on Rails in a class, I became interested and wanted to build something for myself. I began this blog for fun, as well as a challenge for myself. This blog acts as a canvas for me as I try to implement more interesting features.</p>

<br>
<div class="aboutme" align=center>Social</div>
<ul>
  <li><a href="https://linkedin.com/in/scheung1206">
    <i class="fa fa-linkedin"></i>
    <span>Linkedin</span>
  </a>
</li>
<li><a href="https://facebook.com/scheung1206">
  <i class="fa fa-facebook"></i>
  <span>Facebook</span>
</a>
</li>
<li><a href="https://github.com/scheung1206">
  <i class="fa fa-github"></i>
  <span>Github</span>
</a>
</li>
<li><a href="https://www.youtube.com/user/FinalView1206">
  <i class="fa fa-youtube"></i>
  <span>Youtube</span>
</a>
</li>
</ul>
