
  <div id="logo">
    <%= link_to root_path do %>
      <%= image_tag "ima.svg" %>
    <% end %>
  </div>

  <ul>
    <li class="category">Website</li>
    <li><%= link_to "Blog", root_path %></li>
    <li><%= link_to "About", root_path%></li>
  </ul>

  <ul>
    <li class="category">Social</li>
    <li><a href="google.com">Link</a></li>
    <li><a href="google.com">Link</a></li>
    <li><a href="google.com">Link</a></li>
    <li><a href="google.com">Link</a></li>
  </ul>
